// importing tailwind components
@tailwind base;
@tailwind components;
@tailwind utilities;

// importing fonts
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.moretext {
  display: none;
}

.grow { 
transition: all .2s ease-in-out; 
}

.grow:hover { 
transform: scale(1.1); 
}

.removeButton {
    display:none;
}

.content_image {
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
    border-radius: 8px;
}



// small screens
@media (max-width: 768px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .reverse-mobile {
        flex-direction: column-reverse;
    }
}

//tablet resolution
@media (min-width: 640px) and (max-width: 1280px) {
    .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 1536px) and (max-width: 3000px) {
        .post_title {
        width: 45% !important;
    }
}

@media (min-width: 400px) and (max-width: 769px) {
        .content_image {
            margin-left: auto;
            margin-right: auto;
        }
}


